external/Oklabi/schema/1011/Statische_Beschilderung.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>
<!--  File: Statische_Beschilderung.xsd  -->
<schema targetNamespace="http://schema.okstra.de/1011/okstra"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:okstra="http://schema.okstra.de/1011/okstra"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:gml="http://www.opengis.net/gml"
    elementFormDefault="qualified"
    version="1.011">
    <annotation>
        <appinfo source="urn:okstra:schema-Statische_Beschilderung:v1.011">Statische_Beschilderung.xsd v1.011</appinfo>
        <documentation xml:lang="de">
            GML-Anwendungsschema fuer OKSTRA(R) XML 1.011, Schema Statische_Beschilderung
        </documentation>
    </annotation>
    <!--  Basis-Schema einbeziehen  -->
    <include schemaLocation="okstra_basis.xsd" />
    <!--  verwendete externe Schemata direkt importieren  -->
    <import namespace="http://www.opengis.net/gml" schemaLocation="./gml/gmlProfileOKSTRA.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="./xlink/xlinks.xsd"/>
    <!-- -->
    <!-- ================================================================================= -->
    <!-- = globales Element fuer instanzierbare ENTITYs und Schluesseltabellen im Schema = -->
    <!-- = Statische_Beschilderung                                                       = -->
    <!-- ================================================================================= -->
    <!-- -->
    <element name="Wegweiser" type="okstra:WegweiserType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="komplexer_Wegweiser" type="okstra:komplexer_WegweiserType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Wegweiserbild" type="okstra:WegweiserbildType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Bildart" type="okstra:BildartType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Wegweisertyp" type="okstra:WegweisertypType" substitutionGroup="okstra:_KeyValue"/>
    <element name="lichttechnische_Bauart" type="okstra:lichttechnische_BauartType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Sichtrichtung" type="okstra:SichtrichtungType" substitutionGroup="okstra:_KeyValue"/>
    <element name="StVO_Zeichennummer" type="okstra:StVO_ZeichennummerType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Grundfarbe_Wegweiser" type="okstra:Grundfarbe_WegweiserType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Verkehrszeichentraeger" type="okstra:VerkehrszeichentraegerType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Aufstellvorrichtung_VZT" type="okstra:Aufstellvorrichtung_VZTType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Art_der_Aufstellvorrichtung" type="okstra:Art_der_AufstellvorrichtungType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Material_Aufstellvorrichtung" type="okstra:Material_AufstellvorrichtungType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Standort" type="okstra:StandortType" substitutionGroup="okstra:_Punktobjekt" />
    <element name="Wegweiserinhalt" type="okstra:WegweiserinhaltType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="komplexer_Wegweiserinhalt" type="okstra:komplexer_WegweiserinhaltType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Inhaltstyp" type="okstra:InhaltstypType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Schriftart" type="okstra:SchriftartType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Schriftfarbe" type="okstra:SchriftfarbeType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Schriftgroesse" type="okstra:SchriftgroesseType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Grundfarbe_Wegweiserinhalt" type="okstra:Grundfarbe_WegweiserinhaltType" substitutionGroup="okstra:_KeyValue"/>
    <element name="graphisches_Symbol" type="okstra:graphisches_SymbolType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Pfeilart" type="okstra:PfeilartType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Pfeilgrundform" type="okstra:PfeilgrundformType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Pfeilspitze" type="okstra:PfeilspitzeType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Pfeilschaft" type="okstra:PfeilschaftType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Referenzzielangabe" type="okstra:ReferenzzielangabeType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Synonym_Zielangabe" type="okstra:Synonym_ZielangabeType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Zielkategorie" type="okstra:ZielkategorieType" substitutionGroup="okstra:_KeyValue"/>
    <element name="stat_verkehrsreg_Beschilderung" type="okstra:stat_verkehrsreg_BeschilderungType" substitutionGroup="okstra:_Punktobjekt" />
    <element name="Standort_Beschilderung" type="okstra:Standort_BeschilderungType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Aufstellart" type="okstra:AufstellartType" substitutionGroup="okstra:_KeyValue"/>
    <element name="verkehrsregelnde_Funktion" type="okstra:verkehrsregelnde_FunktionType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Funktion_verkehrsregelnd" type="okstra:Funktion_verkehrsregelndType" substitutionGroup="okstra:_KeyValue"/>
    <element name="StVO_Zuordnung" type="okstra:StVO_ZuordnungType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Gueltigkeitsbereich_VRB" type="okstra:Gueltigkeitsbereich_VRBType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="raeumlicher_Gueltigkeitsber" type="okstra:raeumlicher_GueltigkeitsberType" substitutionGroup="okstra:_StreckenobjektHist" />
    <element name="zeitlicher_Gueltigkeitsber" type="okstra:zeitlicher_GueltigkeitsberType" substitutionGroup="okstra:_OKSTRAHistObjekt" />
    <element name="richtungsbezogene_Ausfuehrung" type="okstra:richtungsbezogene_AusfuehrungType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Numerierung" type="okstra:NumerierungType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Position" type="okstra:PositionType" substitutionGroup="okstra:_Punktobjekt" />
    <!-- -->
    <!-- ===================================================================================== -->
    <!-- = globaler complexType fuer instanzierbare ENTITYs und Schluesseltabellen im Schema = -->
    <!-- = Statische_Beschilderung                                                           = -->
    <!-- ===================================================================================== -->
    <!-- -->
    <complexType name="WegweiserType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Wegweiser -->
                    <element name="Wegweisernummer" 
                        type="okstra:Wegweisernummer" minOccurs="0"/>
                    <element name="Aufstellungszeitpunkt" 
                        type="okstra:Datum" minOccurs="0"/>
                    <element name="Wegweisertyp" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="lichttechnische_Bauart" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Sichtrichtung" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="StVO_Zeichen" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="lichte_Hoehe" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Grundfarbe" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Reiter" 
                        type="integer" minOccurs="0"/>
                    <element name="Kommentar" 
                        type="string" minOccurs="0"/>
                    <element name="auf_Verkehrszeichentraeger" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Verkehrszeichentraeger</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Wegweiser</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="Bild" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Wegweiserbild</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Wegweiser</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="in_komplexem_Wegweiser" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>komplexer_Wegweiser</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Wegweiser</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Wegweiserinhalt" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Wegweiserinhalt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>in_Wegweiser</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="gehoert_zu_Knoten" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Netzknoten</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Wegweiser</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="komplexer_WegweiserType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften komplexer_Wegweiser -->
                    <element name="hat_Wegweiser" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Wegweiser</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>in_komplexem_Wegweiser</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WegweiserbildType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Wegweiserbild -->
                    <element name="Foto" 
                        type="okstra:Bilddatei"/>
                    <element name="Bildart" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="von_Wegweiser" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Wegweiser</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>Bild</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="BildartType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="WegweisertypType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="lichttechnische_BauartType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="SichtrichtungType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="StVO_ZeichennummerType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="Grundfarbe_WegweiserType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="VerkehrszeichentraegerType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Verkehrszeichentraeger -->
                    <element name="Breite" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Hoehe" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="an_Aufstellvorrichtung" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Aufstellvorrichtung_VZT</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Verkehrszeichentraeger</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Wegweiser" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="2">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Wegweiser</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>auf_Verkehrszeichentraeger</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Aufstellvorrichtung_VZTType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Aufstellvorrichtung_VZT -->
                    <element name="Durchmesser" 
                        type="okstra:Millimeter" minOccurs="0"/>
                    <element name="Dicke" 
                        type="okstra:Millimeter" minOccurs="0"/>
                    <element name="Hoehe" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Art_der_Aufstellvorrichtung" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Material_Aufstellvorrichtung" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="hat_Standort" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Standort</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Aufstellvorrichtung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_Verkehrszeichentraeger" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Verkehrszeichentraeger</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>an_Aufstellvorrichtung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Art_der_AufstellvorrichtungType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="Material_AufstellvorrichtungType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="StandortType">
        <complexContent>
            <extension base="okstra:PunktobjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Standort -->
                    <element name="zu_Aufstellvorrichtung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Aufstellvorrichtung_VZT</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Standort</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WegweiserinhaltType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Wegweiserinhalt -->
                    <element name="Inhaltstyp" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Schriftart" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Schriftfarbe" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Schriftgroesse" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Distanz_zum_Entscheidungspunkt" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Entfernung_zum_Ziel" 
                        type="okstra:Kilometer" minOccurs="0"/>
                    <element name="graphisches_Symbol" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Strassennummer" 
                        type="string" minOccurs="0"/>
                    <element name="Knotennummer" 
                        type="integer" minOccurs="0"/>
                    <element name="StVO_Zeichennummer" 
                        type="string" minOccurs="0"/>
                    <element name="Grundfarbe" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Pfeilart" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Pfeilgrundform" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Pfeilspitze" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Pfeilschaft" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Kommentar" 
                        type="string" minOccurs="0"/>
                    <element name="mit_Zielangabe" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Zielangabe</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Wegweiserinhalt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="in_komplexem_Wegweiserinhalt" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>komplexer_Wegweiserinhalt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Wegweiserinhalte</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_Strassenelement" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Strassenelement</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Wegweiserinhalt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="nach_Strassenelement" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Strassenelement</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>nach_Wegweiserinhalt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="in_Wegweiser" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Wegweiser</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Wegweiserinhalt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="komplexer_WegweiserinhaltType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften komplexer_Wegweiserinhalt -->
                    <element name="hat_Wegweiserinhalte" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Wegweiserinhalt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>in_komplexem_Wegweiserinhalt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="InhaltstypType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="SchriftartType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="SchriftfarbeType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="SchriftgroesseType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="Grundfarbe_WegweiserinhaltType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="graphisches_SymbolType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="PfeilartType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="PfeilgrundformType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="PfeilspitzeType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="PfeilschaftType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="ReferenzzielangabeType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Zielangabe -->
                    <element name="Text" 
                        type="string"/>
                    <element name="Zielkategorie" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Kommentar" 
                        type="string" minOccurs="0"/>
                    <element name="zu_Wegweiserinhalt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Wegweiserinhalt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>mit_Zielangabe</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Referenzzielangabe -->
                    <element name="hat_Synonym" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Synonym_Zielangabe</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Referenz</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Synonym_ZielangabeType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Zielangabe -->
                    <element name="Text" 
                        type="string"/>
                    <element name="Zielkategorie" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Kommentar" 
                        type="string" minOccurs="0"/>
                    <element name="zu_Wegweiserinhalt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Wegweiserinhalt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>mit_Zielangabe</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Synonym_Zielangabe -->
                    <element name="zu_Referenz" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Referenzzielangabe</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Synonym</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ZielkategorieType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="stat_verkehrsreg_BeschilderungType">
        <complexContent>
            <extension base="okstra:PunktobjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften stat_verkehrsreg_Beschilderung -->
                    <element name="Fahrtrichtung_WB" 
                        type="string" minOccurs="0"/>
                    <element name="hat_Standort_Beschilderung" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Standort_Beschilderung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_stat_verkehsreg_Beschilder</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Gueltigkeitsbereich_VRB" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Gueltigkeitsbereich_VRB</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_stat_verkehrsreg_Beschildg</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Standort_BeschilderungType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Standort_Beschilderung -->
                    <element name="Aufstellart" 
                        type="okstra:KeyValuePropertyType"/>
                    <element name="richtungsbezogene_Ausfuehrung" 
                        type="okstra:KeyValuePropertyType"/>
                    <element name="technische_Ausfuehrung" 
                        type="string" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="hat_Numerierung" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Numerierung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Standort_Beschilderung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Position" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Position</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Standort_Beschilderung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_verkehrsregelnde_Funktion" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>verkehrsregelnde_Funktion</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Standort_Beschilderung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_StVO_Zuordnung" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>StVO_Zuordnung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Standort_Beschilderung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_stat_verkehsreg_Beschilder" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>stat_verkehrsreg_Beschilderung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Standort_Beschilderung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="AufstellartType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="verkehrsregelnde_FunktionType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften verkehrsregelnde_Funktion -->
                    <element name="Funktion" 
                        type="okstra:KeyValuePropertyType"/>
                    <element name="Paragraph" 
                        type="integer" minOccurs="0"/>
                    <element name="von_Standort_Beschilderung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Standort_Beschilderung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_verkehrsregelnde_Funktion</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Funktion_verkehrsregelndType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="StVO_ZuordnungType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften StVO_Zuordnung -->
                    <element name="StVO_Zeichen" 
                        type="integer"/>
                    <element name="Zusatzzeichen_1" 
                        type="integer" minOccurs="0"/>
                    <element name="Zusatzzeichen_2" 
                        type="integer" minOccurs="0"/>
                    <element name="von_Standort_Beschilderung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Standort_Beschilderung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_StVO_Zuordnung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Gueltigkeitsbereich_VRBType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Gueltigkeitsbereich_VRB -->
                    <element name="verkehrsartabhaengiger_GB" 
                        type="string" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="verkehrssituationsabh_GB" 
                        type="string" minOccurs="0"/>
                    <element name="ist_raeumlicher_GB" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>raeumlicher_Gueltigkeitsber</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Gueltigkeitsbereich_VRB</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="ist_zeitlicher_GB" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>zeitlicher_Gueltigkeitsber</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Gueltigkeitsbereich_VRB</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_stat_verkehrsreg_Beschildg" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>stat_verkehrsreg_Beschilderung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Gueltigkeitsbereich_VRB</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="raeumlicher_GueltigkeitsberType">
        <complexContent>
            <extension base="okstra:StreckenobjektHistType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften raeumlicher_Gueltigkeitsber -->
                    <element name="von_Gueltigkeitsbereich_VRB" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Gueltigkeitsbereich_VRB</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>ist_raeumlicher_GB</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="zeitlicher_GueltigkeitsberType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAHistObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften zeitlicher_Gueltigkeitsber -->
                    <element name="zeitlicher_Bereich" 
                        type="string"/>
                    <element name="von_Gueltigkeitsbereich_VRB" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Gueltigkeitsbereich_VRB</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>ist_zeitlicher_GB</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="richtungsbezogene_AusfuehrungType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="NumerierungType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Numerierung -->
                    <element name="Plannummer" 
                        type="okstra:TK25_Blattnummer"/>
                    <element name="Standort_Nummer" 
                        type="integer" minOccurs="0"/>
                    <element name="von_Standort_Beschilderung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Standort_Beschilderung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Numerierung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="PositionType">
        <complexContent>
            <extension base="okstra:PunktobjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Position -->
                    <element name="von_Standort_Beschilderung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Standort_Beschilderung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Position</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>
