external/Oklabi/schema/1015/S_MELVER.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>
<!--  File: S_MELVER.xsd  -->
<schema targetNamespace="http://schema.okstra.de/1015/okstra"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:okstra="http://schema.okstra.de/1015/okstra"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:gml="http://www.opengis.net/gml"
    elementFormDefault="qualified"
    version="1.015">
    <annotation>
        <appinfo source="urn:okstra:schema-S_MELVER:v1.015">S_MELVER.xsd v1.015</appinfo>
        <documentation xml:lang="de">
            GML-Anwendungsschema fuer OKSTRA(R) XML 1.015, Schema S_MELVER
        </documentation>
    </annotation>
    <!--  Basis-Schema einbeziehen  -->
    <include schemaLocation="okstra_basis.xsd" />
    <!--  verwendete externe Schemata direkt importieren  -->
    <import namespace="http://www.opengis.net/gml" schemaLocation="./gml/gmlProfileOKSTRA.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="./xlink/xlinks.xsd"/>
    <!-- -->
    <!-- ========================================================== -->
    <!-- = globale Elemente fuer instanzierbare ENTITYs im Schema = -->
    <!-- = S_MELVER                                               = -->
    <!-- ========================================================== -->
    <!-- -->
    <element name="MELVER" type="okstra:MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="administrative_Angaben_MELVER" type="okstra:administrative_Angaben_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Haushalts_Buchungsst_MELVER" type="okstra:Haushalts_Buchungsst_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Bearbeiter_MELVER" type="okstra:Bearbeiter_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Angaben_zur_Bauleistung_MELVER" type="okstra:Angaben_zur_Bauleistung_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Angaben_zu_Bew_Biet_Ang_MELVER" type="okstra:Angaben_zu_Bew_Biet_Ang_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Anz_Bewerb_Bieter_Angeb_MELVER" type="okstra:Anz_Bewerb_Bieter_Angeb_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Angaben_zur_Vergabe_MELVER" type="okstra:Angaben_zur_Vergabe_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Ang_zum_Auftragnehmer_MELVER" type="okstra:Ang_zum_Auftragnehmer_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="vertragl_Best_und_Massn_MELVER" type="okstra:vertragl_Best_und_Massn_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Angaben_z_Auftragssumme_MELVER" type="okstra:Angaben_z_Auftragssumme_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Summe_n_Art_der_Arbeit_MELVER" type="okstra:Summe_n_Art_der_Arbeit_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Summe_n_Unternehmensart_MELVER" type="okstra:Summe_n_Unternehmensart_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Summe_nach_Regionen_MELVER" type="okstra:Summe_nach_Regionen_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Summe_bevorz_Bewerber_MELVER" type="okstra:Summe_bevorz_Bewerber_MELVERType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <!-- -->
    <!-- ============================================================== -->
    <!-- = globale complexTypes fuer instanzierbare ENTITYs im Schema = -->
    <!-- = S_MELVER                                                   = -->
    <!-- ============================================================== -->
    <!-- -->
    <complexType name="MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften MELVER -->
                    <element name="Lfd_Nr" 
                        type="string"/>
                    <element name="hat_administrative_Angaben" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>administrative_Angaben_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_MELVER_Datensatz</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Angaben_zur_Bauleistung" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Angaben_zur_Bauleistung_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_MELVER_Datensatz</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Angaben_zu_Bew_Biet_Angeb" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Angaben_zu_Bew_Biet_Ang_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_MELVER_Datensatz</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Angaben_zur_Vergabe" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Angaben_zur_Vergabe_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_MELVER_Datensatz</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_vertragl_Best_und_Massn" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>vertragl_Best_und_Massn_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_MELVER_Datensatz</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Angaben_zur_Auftragssumme" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Angaben_z_Auftragssumme_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_MELVER_Datensatz</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="administrative_Angaben_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften administrative_Angaben_MELVER -->
                    <element name="Bauvertragsnummer" 
                        type="string"/>
                    <element name="CPV_Nr" 
                        type="string" minOccurs="0"/>
                    <element name="CPV_Nr_2" 
                        type="string" minOccurs="0"/>
                    <element name="CPV_Nr_3" 
                        type="string" minOccurs="0"/>
                    <element name="Bezeichnung_der_Bauleistung" 
                        type="string"/>
                    <element name="Bezeichnung_der_Bauleistung_2" 
                        type="string" minOccurs="0"/>
                    <element name="Zusatzfeld" 
                        type="string" minOccurs="0"/>
                    <element name="Institut" 
                        type="string" minOccurs="0"/>
                    <element name="Art_Baulasttraeger" 
                        type="okstra:Art_BaulasttraegerPropertyType"/>
                    <element name="in_Bundesland" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Verwaltungsbezirk</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>ist_Bundesl_z_admin_Ang_MELVER</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="in_Baudienststelle" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Baudienststelle</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_administrative_Ang_MELVER</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="in_Kreis_Gemeinde" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Verwaltungsbezirk</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>ist_Kr_Gem_z_admin_Ang_MELVER</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Haushalts_Buchungsstelle" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Haushalts_Buchungsst_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_administrative_Angaben</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Bearbeiter" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Bearbeiter_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_administrative_Angaben</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_MELVER_Datensatz" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_administrative_Angaben</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Haushalts_Buchungsst_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Haushalts_Buchungsst_MELVER -->
                    <element name="Kapitel" 
                        type="integer"/>
                    <element name="Titel" 
                        type="integer"/>
                    <element name="Funktion" 
                        type="integer"/>
                    <element name="zu_administrative_Angaben" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>administrative_Angaben_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Haushalts_Buchungsstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Bearbeiter_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Bearbeiter_MELVER -->
                    <element name="Name_Bearbeiter" 
                        type="string"/>
                    <element name="Tel_Nr_Bearbeiter" 
                        type="string"/>
                    <element name="von_administrative_Angaben" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>administrative_Angaben_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Bearbeiter</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Angaben_zur_Bauleistung_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Angaben_zur_Bauleistung_MELVER -->
                    <element name="Strassenklasse" 
                        type="okstra:StrassenklassePropertyType"/>
                    <element name="Art_der_Baumassnahme_Phase" 
                        type="okstra:Art_der_Baumassnahme_P_MELVERPropertyType"/>
                    <element name="Art_der_Baumassnahme_Bereich" 
                        type="okstra:Art_der_Baumassnahme_B_MELVERPropertyType"/>
                    <element name="Bauzeit_in_Monaten" 
                        type="okstra:Anzahl_zweistellig"/>
                    <element name="von_MELVER_Datensatz" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Angaben_zur_Bauleistung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Angaben_zu_Bew_Biet_Ang_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Angaben_zu_Bew_Biet_Ang_MELVER -->
                    <element name="hat_Anz_Bewerber_Bieter_Angeb" 
                        type="okstra:ObjectRefType" minOccurs="15" maxOccurs="15">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Anz_Bewerb_Bieter_Angeb_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Ang_zu_Bewerb_Bieter_Angeb</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_MELVER_Datensatz" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Angaben_zu_Bew_Biet_Angeb</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Anz_Bewerb_Bieter_Angeb_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Anz_Bewerb_Bieter_Angeb_MELVER -->
                    <element name="Art_Bewerber_Bieter_Angebot" 
                        type="okstra:Art_Bewerb_Bieter_Angeb_MELVERPropertyType"/>
                    <element name="Region" 
                        type="okstra:Region_MELVERPropertyType"/>
                    <element name="Anzahl" 
                        type="okstra:Anzahl_zweistellig"/>
                    <element name="von_Ang_zu_Bewerb_Bieter_Angeb" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Angaben_zu_Bew_Biet_Ang_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Anz_Bewerber_Bieter_Angeb</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Angaben_zur_Vergabe_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Angaben_zur_Vergabe_MELVER -->
                    <element name="Vergabeart" 
                        type="okstra:Vergabeart_MELVERPropertyType"/>
                    <element name="Eroeffnung_Angebotsabgabe" 
                        type="okstra:Datum" minOccurs="0"/>
                    <element name="Auftragserteilung" 
                        type="okstra:Datum"/>
                    <element name="Angebotsart" 
                        type="okstra:Angebotsart_MELVERPropertyType" minOccurs="0"/>
                    <element name="Platznummer_Zuschlagsangebot" 
                        type="okstra:Anzahl_zweistellig" minOccurs="0"/>
                    <element name="Erlaeuterung_zur_Vergabeart" 
                        type="okstra:Erl_zur_Vergabeart_MELVERPropertyType" minOccurs="0"/>
                    <element name="hat_Angaben_zum_Auftragnehmer" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Ang_zum_Auftragnehmer_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Angaben_zur_Vergabe_MELVER</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_MELVER_Datensatz" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Angaben_zur_Vergabe</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Ang_zum_Auftragnehmer_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Ang_zum_Auftragnehmer_MELVER -->
                    <element name="Name" 
                        type="string"/>
                    <element name="Sitz_PLZ" 
                        type="integer" minOccurs="0"/>
                    <element name="Sitz_in_Land" 
                        type="okstra:LandPropertyType" minOccurs="0"/>
                    <element name="weitere_Namen" 
                        type="string" minOccurs="0" maxOccurs="5"/>
                    <element name="Art_des_Auftragnehmers" 
                        type="okstra:Art_des_Auftragnehmers_MELVERPropertyType"/>
                    <element name="Sitz_in_Bundesland" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Verwaltungsbezirk</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Auftragn_d_Baul_MELVER</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Angaben_zur_Vergabe_MELVER" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Angaben_zur_Vergabe_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Angaben_zum_Auftragnehmer</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="vertragl_Best_und_Massn_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften vertragl_Best_und_Massn_MELVER -->
                    <element name="Lohngleitklausel" 
                        type="integer"/>
                    <element name="Stoffgleitklausel" 
                        type="integer"/>
                    <element name="Vertragsstrafe" 
                        type="integer"/>
                    <element name="Nachpruefungsverfahren_eingel" 
                        type="integer" minOccurs="0"/>
                    <element name="Nachpruefungsverfahren_entsch" 
                        type="okstra:rechtliche_Instanz_MELVERPropertyType" minOccurs="0"/>
                    <element name="Zeitdauer_zw_Ruege_u_Entsch" 
                        type="okstra:Anzahl_zweistellig" minOccurs="0"/>
                    <element name="Aenderung_der_Vergabeentsch" 
                        type="integer" minOccurs="0"/>
                    <element name="von_MELVER_Datensatz" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_vertragl_Best_und_Massn</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Angaben_z_Auftragssumme_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Angaben_z_Auftragssumme_MELVER -->
                    <element name="Auftragssumme" 
                        type="okstra:EURO"/>
                    <element name="hat_Summen_n_Art_der_Arbeiten" 
                        type="okstra:ObjectRefType" minOccurs="6" maxOccurs="6">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Summe_n_Art_der_Arbeit_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Ang_z_Auftragssumme_MELVER</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Summen_n_Unternehmensart" 
                        type="okstra:ObjectRefType" minOccurs="2" maxOccurs="2">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Summe_n_Unternehmensart_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Ang_z_Auftragssumme_MELVER</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Summen_nach_Regionen" 
                        type="okstra:ObjectRefType" minOccurs="3" maxOccurs="3">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Summe_nach_Regionen_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Ang_z_Auftragssumme_MELVER</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Summen_bevorzugt_Bewerber" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Summe_bevorz_Bewerber_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Ang_z_Auftragssumme_MELVER</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_MELVER_Datensatz" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Angaben_zur_Auftragssumme</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Summe_n_Art_der_Arbeit_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Summe_n_Art_der_Arbeit_MELVER -->
                    <element name="Art_der_Arbeit" 
                        type="okstra:Art_der_Arbeit_MELVERPropertyType"/>
                    <element name="Anteil_Auftragssumme" 
                        type="okstra:EURO"/>
                    <element name="zu_Ang_z_Auftragssumme_MELVER" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Angaben_z_Auftragssumme_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Summen_n_Art_der_Arbeiten</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Summe_n_Unternehmensart_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Summe_n_Unternehmensart_MELVER -->
                    <element name="Art_des_Unternehmens" 
                        type="okstra:Art_des_Unternehmens_MELVERPropertyType"/>
                    <element name="Anteil_Auftragssumme" 
                        type="okstra:EURO"/>
                    <element name="zu_Ang_z_Auftragssumme_MELVER" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Angaben_z_Auftragssumme_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Summen_n_Unternehmensart</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Summe_nach_Regionen_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Summe_nach_Regionen_MELVER -->
                    <element name="Region" 
                        type="okstra:Region_MELVERPropertyType"/>
                    <element name="Anteil_Auftragssumme" 
                        type="okstra:EURO"/>
                    <element name="zu_Ang_z_Auftragssumme_MELVER" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Angaben_z_Auftragssumme_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Summen_nach_Regionen</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Summe_bevorz_Bewerber_MELVERType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Summe_bevorz_Bewerber_MELVER -->
                    <element name="Anteil_Auftragssumme" 
                        type="okstra:EURO"/>
                    <element name="Grund_der_Bevorzugung" 
                        type="okstra:Grund_der_Bevorzugung_MELVERPropertyType"/>
                    <element name="Auftragskriterium" 
                        type="okstra:Auftragskriterium_MELVERPropertyType"/>
                    <element name="gewaehrter_Mehrpreis" 
                        type="okstra:EURO" minOccurs="0"/>
                    <element name="zu_Ang_z_Auftragssumme_MELVER" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Angaben_z_Auftragssumme_MELVER</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Summen_bevorzugt_Bewerber</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>
