external/Oklabi/schema/1015/S_Schwertransport.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>
<!--  File: S_Schwertransport.xsd  -->
<schema targetNamespace="http://schema.okstra.de/1015/okstra"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:okstra="http://schema.okstra.de/1015/okstra"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:gml="http://www.opengis.net/gml"
    elementFormDefault="qualified"
    version="1.015">
    <annotation>
        <appinfo source="urn:okstra:schema-S_Schwertransport:v1.015">S_Schwertransport.xsd v1.015</appinfo>
        <documentation xml:lang="de">
            GML-Anwendungsschema fuer OKSTRA(R) XML 1.015, Schema S_Schwertransport
        </documentation>
    </annotation>
    <!--  Basis-Schema einbeziehen  -->
    <include schemaLocation="okstra_basis.xsd" />
    <!--  verwendete externe Schemata direkt importieren  -->
    <import namespace="http://www.opengis.net/gml" schemaLocation="./gml/gmlProfileOKSTRA.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="./xlink/xlinks.xsd"/>
    <!-- -->
    <!-- ========================================================== -->
    <!-- = globale Elemente fuer instanzierbare ENTITYs im Schema = -->
    <!-- = S_Schwertransport                                      = -->
    <!-- ========================================================== -->
    <!-- -->
    <element name="Schwertransport" type="okstra:SchwertransportType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Bauwerksueberfahrt" type="okstra:BauwerksueberfahrtType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="VEMAGS_Berechnungsergebnis" type="okstra:VEMAGS_BerechnungsergebnisType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="VEMAGS_Teilbauwerksergebnis" type="okstra:VEMAGS_TeilbauwerksergebnisType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="VEMAGS_Berechnungsgrundlage" type="okstra:VEMAGS_BerechnungsgrundlageType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="VEMAGS_Lastbild_Definition" type="okstra:VEMAGS_Lastbild_DefinitionType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <!-- -->
    <!-- ============================================================== -->
    <!-- = globale complexTypes fuer instanzierbare ENTITYs im Schema = -->
    <!-- = S_Schwertransport                                          = -->
    <!-- ============================================================== -->
    <!-- -->
    <complexType name="SchwertransportType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Schwertransport -->
                    <element name="Antragsnummer" 
                        type="string"/>
                    <element name="Anhoerungs_ID" 
                        type="integer" minOccurs="0"/>
                    <element name="Vorgangs_ID" 
                        type="integer" minOccurs="0"/>
                    <element name="Laenge_Last" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Breite_Last" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Gewicht_Last" 
                        type="okstra:Tonnen" minOccurs="0"/>
                    <element name="Anzahl_der_Achsen" 
                        type="okstra:Anzahl" minOccurs="0"/>
                    <element name="Ausgabeumfang" 
                        type="okstra:VEMAGS_AusgabeumfangPropertyType" minOccurs="0"/>
                    <element name="Achsen" 
                        type="okstra:achsbezogene_DatenPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="hat_Bauwerksueberfahrt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Bauwerksueberfahrt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Schwertransport</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_VEMAGS_Ergebnis" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>VEMAGS_Berechnungsergebnis</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Schwertransport</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="BauwerksueberfahrtType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Bauwerksueberfahrt -->
                    <element name="Richtung" 
                        type="okstra:VEMAGS_BerechnungsrichtungPropertyType" minOccurs="0"/>
                    <element name="ueber_Teilbauwerk" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Teilbauwerk</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Bauwerksueberfahrt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Teilbauwerksergebnis" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>VEMAGS_Teilbauwerksergebnis</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Bauwerksueberfahrt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Schwertransport" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Schwertransport</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Bauwerksueberfahrt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VEMAGS_BerechnungsergebnisType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften VEMAGS_Berechnungsergebnis -->
                    <element name="Info" 
                        type="okstra:VEMAGS_InfoPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="hat_Teilbauwerksergebnis" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>VEMAGS_Teilbauwerksergebnis</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Berechnungsergebnis</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="basiert_auf_Grundlage" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>VEMAGS_Berechnungsgrundlage</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Berechnungsergebnis</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Schwertransport" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Schwertransport</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_VEMAGS_Ergebnis</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VEMAGS_TeilbauwerksergebnisType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften VEMAGS_Teilbauwerksergebnis -->
                    <element name="Fahrauflage_RGST" 
                        type="string" minOccurs="0"/>
                    <element name="Art_der_Auflage" 
                        type="string" minOccurs="0"/>
                    <element name="Geschwindigkeit" 
                        type="okstra:Stundenkilometer" minOccurs="0"/>
                    <element name="Abstand_zum_Vorausverkehr" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Schnittgroessenvergleich" 
                        type="okstra:SchnittgroessenvergleichPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="Info" 
                        type="okstra:VEMAGS_InfoPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="zu_Berechnungsergebnis" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>VEMAGS_Berechnungsergebnis</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Teilbauwerksergebnis</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Bauwerksueberfahrt" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Bauwerksueberfahrt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Teilbauwerksergebnis</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VEMAGS_BerechnungsgrundlageType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften VEMAGS_Berechnungsgrundlage -->
                    <element name="Ersatzsystem_Bogenbauwerke" 
                        type="integer" minOccurs="0"/>
                    <element name="Abmind_faktor_Temp_Innenfeld" 
                        type="double" minOccurs="0"/>
                    <element name="Abmind_faktor_Temp_Stuetze" 
                        type="double" minOccurs="0"/>
                    <element name="Abmind_faktor_Grenzjahr" 
                        type="okstra:Jahr" minOccurs="0"/>
                    <element name="Auslastungsgrad" 
                        type="okstra:Prozent" minOccurs="0"/>
                    <element name="Zustandsnote" 
                        type="double" minOccurs="0"/>
                    <element name="max_Standsicherheitsnote_ab" 
                        type="integer" minOccurs="0"/>
                    <element name="Stand" 
                        type="okstra:ZeitpunktPropertyType" minOccurs="0"/>
                    <element name="definiert_durch" 
                        type="string" minOccurs="0"/>
                    <element name="hat_Lastbild_Definition" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>VEMAGS_Lastbild_Definition</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>enthalten_in_Grundlage</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_Berechnungsergebnis" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>VEMAGS_Berechnungsergebnis</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>basiert_auf_Grundlage</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VEMAGS_Lastbild_DefinitionType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften VEMAGS_Lastbild_Definition -->
                    <element name="Name_Lastbild" 
                        type="string" minOccurs="0"/>
                    <element name="ASB_Tragfaehigkeitsbezug" 
                        type="okstra:ASB_ING_Schluessel" minOccurs="0"/>
                    <element name="Ueberschr_grenze_Lastvergl" 
                        type="okstra:Prozent" minOccurs="0"/>
                    <element name="Achsen_Hauptspur" 
                        type="okstra:achsbezogene_DatenPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="Achsen_Nebenspur" 
                        type="okstra:achsbezogene_DatenPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="Achsen_Nebenspur2" 
                        type="okstra:achsbezogene_DatenPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="Flaechenlast_Hauptspur" 
                        type="okstra:Kilonewton_pro_Quadratmeter" minOccurs="0"/>
                    <element name="Flaechenlast_Nebenspur" 
                        type="okstra:Kilonewton_pro_Quadratmeter" minOccurs="0"/>
                    <element name="Flaechenlast_Nebenspur2" 
                        type="okstra:Kilonewton_pro_Quadratmeter" minOccurs="0"/>
                    <element name="Ueberhang_Abstand_HS_vorn" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Ueberhang_Abstand_HS_hinten" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Ueberhang_Abstand_NS_vorn" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Ueberhang_Abstand_NS_hinten" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Ueberhang_Abstand_NS2_vorn" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Ueberhang_Abstand_NS2_hinten" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="RGST_Bezug" 
                        type="string" minOccurs="0"/>
                    <element name="durchgehende_Flaechenlast" 
                        type="integer" minOccurs="0"/>
                    <element name="enthalten_in_Grundlage" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>VEMAGS_Berechnungsgrundlage</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Lastbild_Definition</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>
