external/Oklabi/schema/1015/S_Statische_Beschilderung.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>
<!--  File: S_Statische_Beschilderung.xsd  -->
<schema targetNamespace="http://schema.okstra.de/1015/okstra"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:okstra="http://schema.okstra.de/1015/okstra"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:gml="http://www.opengis.net/gml"
    elementFormDefault="qualified"
    version="1.015">
    <annotation>
        <appinfo source="urn:okstra:schema-S_Statische_Beschilderung:v1.015">S_Statische_Beschilderung.xsd v1.015</appinfo>
        <documentation xml:lang="de">
            GML-Anwendungsschema fuer OKSTRA(R) XML 1.015, Schema S_Statische_Beschilderung
        </documentation>
    </annotation>
    <!--  Basis-Schema einbeziehen  -->
    <include schemaLocation="okstra_basis.xsd" />
    <!--  verwendete externe Schemata direkt importieren  -->
    <import namespace="http://www.opengis.net/gml" schemaLocation="./gml/gmlProfileOKSTRA.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="./xlink/xlinks.xsd"/>
    <!-- -->
    <!-- ========================================================== -->
    <!-- = globale Elemente fuer instanzierbare ENTITYs im Schema = -->
    <!-- = S_Statische_Beschilderung                              = -->
    <!-- ========================================================== -->
    <!-- -->
    <element name="Aufstellvorrichtung_Schild" type="okstra:Aufstellvorrichtung_SchildType" substitutionGroup="okstra:_PunktobjektHist" />
    <element name="Wegweiser" type="okstra:WegweiserType" substitutionGroup="okstra:_OKSTRAHistObjekt" />
    <element name="Verkehrszeichen" type="okstra:VerkehrszeichenType" substitutionGroup="okstra:_OKSTRAHistObjekt" />
    <element name="Schild_nichtamtlich" type="okstra:Schild_nichtamtlichType" substitutionGroup="okstra:_OKSTRAHistObjekt" />
    <element name="Wegweiser_Summe" type="okstra:Wegweiser_SummeType" substitutionGroup="okstra:_StreckenobjektHist" />
    <element name="Verkehrszeichen_Summe" type="okstra:Verkehrszeichen_SummeType" substitutionGroup="okstra:_StreckenobjektHist" />
    <element name="Schild_nichtamtlich_Summe" type="okstra:Schild_nichtamtlich_SummeType" substitutionGroup="okstra:_StreckenobjektHist" />
    <!-- -->
    <!-- ============================================================== -->
    <!-- = globale complexTypes fuer instanzierbare ENTITYs im Schema = -->
    <!-- = S_Statische_Beschilderung                                  = -->
    <!-- ============================================================== -->
    <!-- -->
    <complexType name="Aufstellvorrichtung_SchildType">
        <complexContent>
            <extension base="okstra:PunktobjektHistType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Objekt_mit_ID -->
                    <element name="hat_Objekt_ID" 
                        type="okstra:Objekt_IDPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Eigenschaften ASB_Objekt -->
                    <element name="Erfassungsdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Systemdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Textfeld" 
                        type="string" minOccurs="0"/>
                    <element name="Art_der_Erfassung" 
                        type="okstra:Art_der_ErfassungPropertyType" minOccurs="0"/>
                    <element name="Art_der_Erfassung_Land" 
                        type="okstra:Art_der_Erfassung_LandPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information" 
                        type="okstra:Quelle_der_InformationPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information_Land" 
                        type="okstra:Quelle_der_Information_LandPropertyType" minOccurs="0"/>
                    <element name="RFID" 
                        type="string" minOccurs="0"/>
                    <element name="Migrationshinweise" 
                        type="string" minOccurs="0"/>
                    <element name="unscharf" 
                        type="integer" minOccurs="0"/>
                    <element name="Fotodokument" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Dokument</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_ASB_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Zuordnungsobjekt_ASB -->
                    <element name="Kreuzungszuordnung" 
                        type="okstra:KreuzungszuordnungPropertyType" minOccurs="0"/>
                    <element name="Unterhaltsbezug_SP" 
                        type="okstra:StrassenpunktPropertyType" minOccurs="0"/>
                    <!-- Darstellung punktfoermiger Geometrie/Topologie -->
                    <choice minOccurs="0">
                        <element name="dargestellt_von_Punkt" type="gml:PointPropertyType" maxOccurs="unbounded"/>
                        <element name="dargestellt_von_Knoten" type="gml:DirectedNodePropertyType" maxOccurs="unbounded"/>
                    </choice>
                    <!-- Eigenschaften Aufstellvorrichtung_Schild -->
                    <element name="Abstand_rechter_Pfosten" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Abstand_linker_Pfosten" 
                        type="okstra:Meter" minOccurs="0"/>
                    <element name="Lage" 
                        type="okstra:LagePropertyType" minOccurs="0"/>
                    <element name="Art" 
                        type="okstra:Art_der_AufstellvorrichtungPropertyType" minOccurs="0"/>
                    <element name="Detaillierungsgrad" 
                        type="okstra:Detaillierungsgrad_ASBPropertyType" minOccurs="0"/>
                    <element name="ist_Teilbauwerk" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Teilbauwerk</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>ist_Aufstellvorrichtung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="stellt_Teilhindernis_dar" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Teilhindernis</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Aufstellvorrichtung_Schild</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Schild" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Schild</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>an_Aufstellvorrichtung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="WegweiserType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAHistObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Objekt_mit_ID -->
                    <element name="hat_Objekt_ID" 
                        type="okstra:Objekt_IDPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Eigenschaften ASB_Objekt -->
                    <element name="Erfassungsdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Systemdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Textfeld" 
                        type="string" minOccurs="0"/>
                    <element name="Art_der_Erfassung" 
                        type="okstra:Art_der_ErfassungPropertyType" minOccurs="0"/>
                    <element name="Art_der_Erfassung_Land" 
                        type="okstra:Art_der_Erfassung_LandPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information" 
                        type="okstra:Quelle_der_InformationPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information_Land" 
                        type="okstra:Quelle_der_Information_LandPropertyType" minOccurs="0"/>
                    <element name="RFID" 
                        type="string" minOccurs="0"/>
                    <element name="Migrationshinweise" 
                        type="string" minOccurs="0"/>
                    <element name="unscharf" 
                        type="integer" minOccurs="0"/>
                    <element name="Fotodokument" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Dokument</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_ASB_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Schild -->
                    <element name="Lage_Schild" 
                        type="okstra:Lage_SchildPropertyType"/>
                    <element name="Lesbarkeit" 
                        type="okstra:LesbarkeitPropertyType" minOccurs="0"/>
                    <element name="Strassenbezug" 
                        type="okstra:StrassenbezugPropertyType" minOccurs="0"/>
                    <element name="an_Aufstellvorrichtung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Aufstellvorrichtung_Schild</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Schild</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Schild_amtlich -->
                    <element name="StVO_ZNr" 
                        type="okstra:StVO_ZeichennummerPropertyType"/>
                    <element name="Beleuchtung" 
                        type="okstra:Beleuchtung_SchildPropertyType" minOccurs="0"/>
                    <!-- Eigenschaften Wegweiser -->
                    <element name="Ausfuehrungstyp" 
                        type="okstra:Ausfuehrungstyp_WegweiserPropertyType" minOccurs="0"/>
                    <element name="Art" 
                        type="okstra:Art_WegweiserPropertyType" minOccurs="0"/>
                    <element name="zu_dyn_verkehrsreg_Beschild" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>dyn_verkehrsreg_Beschilderung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Wegweiser</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VerkehrszeichenType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAHistObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Objekt_mit_ID -->
                    <element name="hat_Objekt_ID" 
                        type="okstra:Objekt_IDPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Eigenschaften ASB_Objekt -->
                    <element name="Erfassungsdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Systemdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Textfeld" 
                        type="string" minOccurs="0"/>
                    <element name="Art_der_Erfassung" 
                        type="okstra:Art_der_ErfassungPropertyType" minOccurs="0"/>
                    <element name="Art_der_Erfassung_Land" 
                        type="okstra:Art_der_Erfassung_LandPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information" 
                        type="okstra:Quelle_der_InformationPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information_Land" 
                        type="okstra:Quelle_der_Information_LandPropertyType" minOccurs="0"/>
                    <element name="RFID" 
                        type="string" minOccurs="0"/>
                    <element name="Migrationshinweise" 
                        type="string" minOccurs="0"/>
                    <element name="unscharf" 
                        type="integer" minOccurs="0"/>
                    <element name="Fotodokument" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Dokument</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_ASB_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Schild -->
                    <element name="Lage_Schild" 
                        type="okstra:Lage_SchildPropertyType"/>
                    <element name="Lesbarkeit" 
                        type="okstra:LesbarkeitPropertyType" minOccurs="0"/>
                    <element name="Strassenbezug" 
                        type="okstra:StrassenbezugPropertyType" minOccurs="0"/>
                    <element name="an_Aufstellvorrichtung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Aufstellvorrichtung_Schild</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Schild</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Schild_amtlich -->
                    <element name="StVO_ZNr" 
                        type="okstra:StVO_ZeichennummerPropertyType"/>
                    <element name="Beleuchtung" 
                        type="okstra:Beleuchtung_SchildPropertyType" minOccurs="0"/>
                    <!-- Eigenschaften Verkehrszeichen -->
                    <element name="verdeckbar" 
                        type="okstra:Dreiwertige_LogikPropertyType" minOccurs="0"/>
                    <element name="Groessenklasse" 
                        type="okstra:Groessenklasse_VZPropertyType" minOccurs="0"/>
                    <element name="zu_Verkehrseinschraenkung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Verkehrseinschraenkung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Verkehrszeichen</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Schild_nichtamtlichType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAHistObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Objekt_mit_ID -->
                    <element name="hat_Objekt_ID" 
                        type="okstra:Objekt_IDPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Eigenschaften ASB_Objekt -->
                    <element name="Erfassungsdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Systemdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Textfeld" 
                        type="string" minOccurs="0"/>
                    <element name="Art_der_Erfassung" 
                        type="okstra:Art_der_ErfassungPropertyType" minOccurs="0"/>
                    <element name="Art_der_Erfassung_Land" 
                        type="okstra:Art_der_Erfassung_LandPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information" 
                        type="okstra:Quelle_der_InformationPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information_Land" 
                        type="okstra:Quelle_der_Information_LandPropertyType" minOccurs="0"/>
                    <element name="RFID" 
                        type="string" minOccurs="0"/>
                    <element name="Migrationshinweise" 
                        type="string" minOccurs="0"/>
                    <element name="unscharf" 
                        type="integer" minOccurs="0"/>
                    <element name="Fotodokument" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Dokument</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_ASB_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Schild -->
                    <element name="Lage_Schild" 
                        type="okstra:Lage_SchildPropertyType"/>
                    <element name="Lesbarkeit" 
                        type="okstra:LesbarkeitPropertyType" minOccurs="0"/>
                    <element name="Strassenbezug" 
                        type="okstra:StrassenbezugPropertyType" minOccurs="0"/>
                    <element name="an_Aufstellvorrichtung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Aufstellvorrichtung_Schild</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Schild</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Schild_nichtamtlich -->
                    <element name="Art" 
                        type="okstra:Art_Schild_nichtamtlichPropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Wegweiser_SummeType">
        <complexContent>
            <extension base="okstra:StreckenobjektHistType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Objekt_mit_ID -->
                    <element name="hat_Objekt_ID" 
                        type="okstra:Objekt_IDPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Eigenschaften ASB_Objekt -->
                    <element name="Erfassungsdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Systemdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Textfeld" 
                        type="string" minOccurs="0"/>
                    <element name="Art_der_Erfassung" 
                        type="okstra:Art_der_ErfassungPropertyType" minOccurs="0"/>
                    <element name="Art_der_Erfassung_Land" 
                        type="okstra:Art_der_Erfassung_LandPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information" 
                        type="okstra:Quelle_der_InformationPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information_Land" 
                        type="okstra:Quelle_der_Information_LandPropertyType" minOccurs="0"/>
                    <element name="RFID" 
                        type="string" minOccurs="0"/>
                    <element name="Migrationshinweise" 
                        type="string" minOccurs="0"/>
                    <element name="unscharf" 
                        type="integer" minOccurs="0"/>
                    <element name="Fotodokument" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Dokument</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_ASB_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Zuordnungsobjekt_ASB -->
                    <element name="Kreuzungszuordnung" 
                        type="okstra:KreuzungszuordnungPropertyType" minOccurs="0"/>
                    <element name="Unterhaltsbezug_SP" 
                        type="okstra:StrassenpunktPropertyType" minOccurs="0"/>
                    <!-- Eigenschaften Beschilderung_Summe -->
                    <element name="Lage" 
                        type="okstra:LagePropertyType"/>
                    <element name="Schilder" 
                        type="okstra:Anzahl"/>
                    <element name="Aufstellvorrichtungen" 
                        type="okstra:Anzahl"/>
                    <element name="Detaillierungsgrad" 
                        type="okstra:Detaillierungsgrad_ASBPropertyType" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Verkehrszeichen_SummeType">
        <complexContent>
            <extension base="okstra:StreckenobjektHistType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Objekt_mit_ID -->
                    <element name="hat_Objekt_ID" 
                        type="okstra:Objekt_IDPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Eigenschaften ASB_Objekt -->
                    <element name="Erfassungsdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Systemdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Textfeld" 
                        type="string" minOccurs="0"/>
                    <element name="Art_der_Erfassung" 
                        type="okstra:Art_der_ErfassungPropertyType" minOccurs="0"/>
                    <element name="Art_der_Erfassung_Land" 
                        type="okstra:Art_der_Erfassung_LandPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information" 
                        type="okstra:Quelle_der_InformationPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information_Land" 
                        type="okstra:Quelle_der_Information_LandPropertyType" minOccurs="0"/>
                    <element name="RFID" 
                        type="string" minOccurs="0"/>
                    <element name="Migrationshinweise" 
                        type="string" minOccurs="0"/>
                    <element name="unscharf" 
                        type="integer" minOccurs="0"/>
                    <element name="Fotodokument" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Dokument</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_ASB_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Zuordnungsobjekt_ASB -->
                    <element name="Kreuzungszuordnung" 
                        type="okstra:KreuzungszuordnungPropertyType" minOccurs="0"/>
                    <element name="Unterhaltsbezug_SP" 
                        type="okstra:StrassenpunktPropertyType" minOccurs="0"/>
                    <!-- Eigenschaften Beschilderung_Summe -->
                    <element name="Lage" 
                        type="okstra:LagePropertyType"/>
                    <element name="Schilder" 
                        type="okstra:Anzahl"/>
                    <element name="Aufstellvorrichtungen" 
                        type="okstra:Anzahl"/>
                    <element name="Detaillierungsgrad" 
                        type="okstra:Detaillierungsgrad_ASBPropertyType" minOccurs="0"/>
                    <!-- Eigenschaften Verkehrszeichen_Summe -->
                    <element name="saisonale_Schilder" 
                        type="okstra:Anzahl" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Schild_nichtamtlich_SummeType">
        <complexContent>
            <extension base="okstra:StreckenobjektHistType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <element name="zu_Beschriftung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Beschriftung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kommunikationsobjekt" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kommunikationsobjekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_OKSTRA_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Objekt_mit_ID -->
                    <element name="hat_Objekt_ID" 
                        type="okstra:Objekt_IDPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Eigenschaften ASB_Objekt -->
                    <element name="Erfassungsdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Systemdatum" 
                        type="okstra:ASB_Datum" minOccurs="0"/>
                    <element name="Textfeld" 
                        type="string" minOccurs="0"/>
                    <element name="Art_der_Erfassung" 
                        type="okstra:Art_der_ErfassungPropertyType" minOccurs="0"/>
                    <element name="Art_der_Erfassung_Land" 
                        type="okstra:Art_der_Erfassung_LandPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information" 
                        type="okstra:Quelle_der_InformationPropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information_Land" 
                        type="okstra:Quelle_der_Information_LandPropertyType" minOccurs="0"/>
                    <element name="RFID" 
                        type="string" minOccurs="0"/>
                    <element name="Migrationshinweise" 
                        type="string" minOccurs="0"/>
                    <element name="unscharf" 
                        type="integer" minOccurs="0"/>
                    <element name="Fotodokument" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Dokument</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_ASB_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Zuordnungsobjekt_ASB -->
                    <element name="Kreuzungszuordnung" 
                        type="okstra:KreuzungszuordnungPropertyType" minOccurs="0"/>
                    <element name="Unterhaltsbezug_SP" 
                        type="okstra:StrassenpunktPropertyType" minOccurs="0"/>
                    <!-- Eigenschaften Beschilderung_Summe -->
                    <element name="Lage" 
                        type="okstra:LagePropertyType"/>
                    <element name="Schilder" 
                        type="okstra:Anzahl"/>
                    <element name="Aufstellvorrichtungen" 
                        type="okstra:Anzahl"/>
                    <element name="Detaillierungsgrad" 
                        type="okstra:Detaillierungsgrad_ASBPropertyType" minOccurs="0"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>
