external/Oklabi/schema/1012/S_Automatische_Dauerzaehlstelle.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>
<!--  File: S_Automatische_Dauerzaehlstelle.xsd  -->
<schema targetNamespace="http://schema.okstra.de/1012/okstra"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:okstra="http://schema.okstra.de/1012/okstra"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:gml="http://www.opengis.net/gml"
    elementFormDefault="qualified"
    version="1.012">
    <annotation>
        <appinfo source="urn:okstra:schema-S_Automatische_Dauerzaehlstelle:v1.012">S_Automatische_Dauerzaehlstelle.xsd v1.012</appinfo>
        <documentation xml:lang="de">
            GML-Anwendungsschema fuer OKSTRA(R) XML 1.012, Schema S_Automatische_Dauerzaehlstelle
        </documentation>
    </annotation>
    <!--  Basis-Schema einbeziehen  -->
    <include schemaLocation="okstra_basis.xsd" />
    <!--  verwendete externe Schemata direkt importieren  -->
    <import namespace="http://www.opengis.net/gml" schemaLocation="./gml/gmlProfileOKSTRA.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="./xlink/xlinks.xsd"/>
    <!-- -->
    <!-- ================================================================================= -->
    <!-- = globales Element fuer instanzierbare ENTITYs und Schluesseltabellen im Schema = -->
    <!-- = S_Automatische_Dauerzaehlstelle                                               = -->
    <!-- ================================================================================= -->
    <!-- -->
    <element name="automatische_Dauerzaehlstelle" type="okstra:automatische_DauerzaehlstelleType" substitutionGroup="okstra:_PunktobjektHist" />
    <element name="Himmelsrichtung" type="okstra:HimmelsrichtungType" substitutionGroup="okstra:_KeyValue"/>
    <element name="Erfassungstechnik" type="okstra:ErfassungstechnikType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Zaehlgeraet" type="okstra:ZaehlgeraetType" substitutionGroup="okstra:_OKSTRAHistObjekt" />
    <element name="Erfassungsmerkmale_DZ" type="okstra:Erfassungsmerkmale_DZType" substitutionGroup="okstra:_OKSTRAHistObjekt" />
    <element name="Detektoren_DZ" type="okstra:Detektoren_DZType" substitutionGroup="okstra:_OKSTRAHistObjekt" />
    <element name="Unterzentrale_Verkehrsrechnerz" type="okstra:Unterzentrale_VerkehrsrechnerzType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="abgeleitete_Dauerzaehlstelle" type="okstra:abgeleitete_DauerzaehlstelleType" substitutionGroup="okstra:_PunktobjektHist" />
    <element name="Ableitung_DZ" type="okstra:Ableitung_DZType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Ableitung_autom_Dauerzaehlst" type="okstra:Ableitung_autom_DauerzaehlstType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <!-- -->
    <!-- ===================================================================================== -->
    <!-- = globaler complexType fuer instanzierbare ENTITYs und Schluesseltabellen im Schema = -->
    <!-- = S_Automatische_Dauerzaehlstelle                                                   = -->
    <!-- ===================================================================================== -->
    <!-- -->
    <complexType name="automatische_DauerzaehlstelleType">
        <complexContent>
            <extension base="okstra:PunktobjektHistType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Streckenobjekt -->
                    <element name="hat_Strecke"
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>verallgemeinerte_Strecke</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Streckenobjekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Objekt_mit_ID -->
                    <element name="hat_Objekt_ID" 
                        type="okstra:Objekt_IDPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Eigenschaften ASB_Objekt -->
                    <element name="Erfassungsdatum" 
                        type="okstra:Datum" minOccurs="0"/>
                    <element name="Systemdatum" 
                        type="okstra:Datum" minOccurs="0"/>
                    <element name="Textfeld" 
                        type="string" minOccurs="0"/>
                    <element name="Art_der_Erfassung" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Art_der_Erfassung_Land" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information_Land" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Fotodokument" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Dokument</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_ASB_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Zaehlstelle -->
                    <element name="Achslasterfassung" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Geschwindigkeitserfassung" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Uebermittlungsart" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Status" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Zaehlstellennummer" 
                        type="string" minOccurs="0"/>
                    <element name="Art_Zaehlstellennummer" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="zu_DTV" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>DTV</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_MSV" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>MSV</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kennw_zur_Laermberechnung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kennwert_zur_Laermberechnung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Jahresganglinientyp" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Jahresganglinientyp</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Wochenganglinientyp" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Wochenganglinientyp</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Tagesganglinientyp" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Tagesganglinientyp</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="stellt_Teilhindernis_dar" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Teilhindernis</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Strassenbaudienststelle" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Strassenbaudienststelle</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="in_Verwaltungsbezirk" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Verwaltungsbezirk</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="an_nicht_n_ASB_klass_Str" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>nicht_nach_ASB_klass_Strasse</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften automatische_Dauerzaehlstelle -->
                    <element name="Name" 
                        type="string" minOccurs="0"/>
                    <element name="hat_Richtungen" 
                        type="okstra:RichtungenPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="hat_Erfassungstechnik" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Erfassungstechnik</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_automat_Dauerzaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="gehoert_zu_UZ_VRZ" 
                        type="okstra:ObjectRefType" minOccurs="0"/>
                    <element name="ist_Komponente_in_Ableitung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="zu_manueller_Zaehlstelle" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="HimmelsrichtungType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="ErfassungstechnikType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Erfassungstechnik -->
                    <element name="hat_Zaehlgeraet" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Zaehlgeraet</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Erfassungstechnik</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_automat_Dauerzaehlstelle" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>automatische_Dauerzaehlstelle</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Erfassungstechnik</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="ZaehlgeraetType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAHistObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Zaehlgeraet -->
                    <element name="Art_der_Datenausgabe" 
                        type="string" maxOccurs="unbounded"/>
                    <element name="Hersteller" 
                        type="string"/>
                    <element name="Analyse_Software" 
                        type="string" minOccurs="0"/>
                    <element name="Detektorart" 
                        type="string"/>
                    <element name="hat_Detektoren" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Detektoren_DZ</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_Zaehlgeraet</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Erfassungsmerkmale" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Erfassungsmerkmale_DZ</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Zaehlgeraet_DZ</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_Erfassungstechnik" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Erfassungstechnik</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Zaehlgeraet</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Erfassungsmerkmale_DZType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAHistObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Erfassungsmerkmale_DZ -->
                    <element name="Zaehlintervallaenge_in_Minuten" 
                        type="integer" minOccurs="0"/>
                    <element name="Fahrzeugklassenunterscheidung" 
                        type="integer"/>
                    <element name="Art_der_registrierten_Daten" 
                        type="string" maxOccurs="unbounded"/>
                    <element name="zu_Zaehlgeraet_DZ" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Zaehlgeraet</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Erfassungsmerkmale</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Detektoren_DZType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAHistObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Detektoren_DZ -->
                    <element name="ist_Fahrstreifen_zugeordnet" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Fahrstreifen_Nummer</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Detektoren_DZ</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_Zaehlgeraet" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Zaehlgeraet</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Detektoren</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Unterzentrale_VerkehrsrechnerzType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Unterzentrale_Verkehrsrechnerz -->
                    <element name="Name" 
                        type="string" minOccurs="0"/>
                    <element name="von_automat_Dauerzaehlstelle" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>automatische_Dauerzaehlstelle</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>gehoert_zu_UZ_VRZ</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="abgeleitete_DauerzaehlstelleType">
        <complexContent>
            <extension base="okstra:PunktobjektHistType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Streckenobjekt -->
                    <element name="hat_Strecke"
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>verallgemeinerte_Strecke</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Streckenobjekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Objekt_mit_ID -->
                    <element name="hat_Objekt_ID" 
                        type="okstra:Objekt_IDPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <!-- Eigenschaften ASB_Objekt -->
                    <element name="Erfassungsdatum" 
                        type="okstra:Datum" minOccurs="0"/>
                    <element name="Systemdatum" 
                        type="okstra:Datum" minOccurs="0"/>
                    <element name="Textfeld" 
                        type="string" minOccurs="0"/>
                    <element name="Art_der_Erfassung" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Art_der_Erfassung_Land" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Quelle_der_Information_Land" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Fotodokument" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Dokument</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_ASB_Objekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften Zaehlstelle -->
                    <element name="Achslasterfassung" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Geschwindigkeitserfassung" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Uebermittlungsart" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Status" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="Zaehlstellennummer" 
                        type="string" minOccurs="0"/>
                    <element name="Art_Zaehlstellennummer" 
                        type="okstra:KeyValuePropertyType" minOccurs="0"/>
                    <element name="zu_DTV" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>DTV</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_MSV" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>MSV</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Kennw_zur_Laermberechnung" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Kennwert_zur_Laermberechnung</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Jahresganglinientyp" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Jahresganglinientyp</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Wochenganglinientyp" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Wochenganglinientyp</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Tagesganglinientyp" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Tagesganglinientyp</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>aus_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="stellt_Teilhindernis_dar" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Teilhindernis</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zu_Strassenbaudienststelle" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Strassenbaudienststelle</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="in_Verwaltungsbezirk" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Verwaltungsbezirk</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="an_nicht_n_ASB_klass_Str" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>nicht_nach_ASB_klass_Strasse</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zu_Zaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften abgeleitete_Dauerzaehlstelle -->
                    <element name="Name" 
                        type="string" minOccurs="0"/>
                    <element name="hat_Richtungen" 
                        type="okstra:RichtungenPropertyType" maxOccurs="unbounded"/>
                    <element name="hat_Ableitung" 
                        type="okstra:ObjectRefType" minOccurs="2" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Ableitung_DZ</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_abgel_Dauerzaehlstelle</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Ableitung_DZType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Ableitung_DZ -->
                    <element name="Bezugsrichtung" 
                        type="okstra:KeyValuePropertyType"/>
                    <element name="hat_Komponenten" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Ableitung_autom_Dauerzaehlst</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>Ableitung_DZ</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="von_abgel_Dauerzaehlstelle" 
                        type="okstra:ObjectRefType" minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>abgeleitete_Dauerzaehlstelle</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Ableitung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Ableitung_autom_DauerzaehlstType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften OKSTRA_Objekt -->
                    <element name="OKSTRA_ID" 
                        type="okstra:GUID" minOccurs="0"/>
                    <!-- Eigenschaften Ableitung_autom_Dauerzaehlst -->
                    <element name="Vorzeichen" 
                        type="okstra:KeyValuePropertyType"/>
                    <element name="automatische_Dauerzaehlstelle" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>automatische_Dauerzaehlstelle</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>ist_Komponente_in_Ableitung</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="Ableitung_DZ" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Ableitung_DZ</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Komponenten</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
</schema>
