external/Oklabi/schema/1007/Allgemeine_Objekte.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>
<!--  File: Allgemeine_Objekte.xsd  -->
<schema targetNamespace="http://schema.okstra.de/1007/okstra"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:okstra="http://schema.okstra.de/1007/okstra"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:gml="http://www.opengis.net/gml"
    elementFormDefault="qualified"
    version="1.007">
    <annotation>
        <appinfo>1007/Allgemeine_Objekte.xsd</appinfo>
        <documentation xml:lang="de">
            GML-Anwendungsschema fuer OKSTRA(R) XML 1.007, Schema Allgemeine_Objekte
        </documentation>
    </annotation>
    <!--  Basis-Schema einbeziehen  -->
    <include schemaLocation="okstra_basis.xsd" />
    <!--  verwendete externe Schemata direkt importieren  -->
    <import namespace="http://www.opengis.net/gml" schemaLocation="./gml/gmlProfileOKSTRA.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="./xlink/xlinks.xsd"/>
    <!-- -->
    <!-- ================================================================================= -->
    <!-- = globales Element fuer instanzierbare ENTITYs und Schluesseltabellen im Schema = -->
    <!-- = Allgemeine_Objekte                                                            = -->
    <!-- ================================================================================= -->
    <!-- -->
    <element name="Wochentag" type="okstra:WochentagType" substitutionGroup="okstra:_KeyValue"/>
    <element name="einfacher_Zeitraum" type="okstra:einfacher_ZeitraumType" substitutionGroup="okstra:_OKSTRAHistObjekt" />
    <element name="Startdatum" type="okstra:StartdatumType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Dauer" type="okstra:DauerType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="komplexer_Zeitraum" type="okstra:komplexer_ZeitraumType" substitutionGroup="okstra:_OKSTRAHistObjekt" />
    <element name="Operator" type="okstra:OperatorType" substitutionGroup="okstra:_KeyValue"/>
    <!-- -->
    <!-- ===================================================================================== -->
    <!-- = globaler complexType fuer instanzierbare ENTITYs und Schluesseltabellen im Schema = -->
    <!-- = Allgemeine_Objekte                                                                = -->
    <!-- ===================================================================================== -->
    <!-- -->
    <complexType name="WochentagType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
    <complexType name="einfacher_ZeitraumType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAHistObjektType">
                <sequence>
                    <!-- Eigenschaften Zeitraum -->
                    <element name="erster_in" 
                        type="okstra:ObjectRefType"  minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>komplexer_Zeitraum</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_ersten_Zeitraum</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zweiter_in" 
                        type="okstra:ObjectRefType"  minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>komplexer_Zeitraum</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_zweiten_Zeitraum</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften einfacher_Zeitraum -->
                    <element name="hat_Startdatum" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Startdatum</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_einfachem_Zeitraum</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Dauer" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Dauer</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>von_einfachem_Zeitraum</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="StartdatumType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften Startdatum -->
                    <element name="Jahr" 
                        type="integer" minOccurs="0"/>
                    <element name="Monat_im_Jahr" 
                        type="integer" minOccurs="0"/>
                    <element name="Woche_im_Jahr" 
                        type="integer" minOccurs="0"/>
                    <element name="Tag_im_Monat" 
                        type="integer" minOccurs="0"/>
                    <element name="vorwaerts_oder_rueckwaerts" 
                        type="integer" minOccurs="0"/>
                    <element name="Woche_im_Monat" 
                        type="integer" minOccurs="0"/>
                    <element name="Tag_in_der_Woche" 
                        type="integer" minOccurs="0"/>
                    <element name="Stunde_am_Tag" 
                        type="integer" minOccurs="0"/>
                    <element name="Minute_in_der_Stunde" 
                        type="integer" minOccurs="0"/>
                    <element name="Sekunde_in_der_Minute" 
                        type="integer" minOccurs="0"/>
                    <element name="von_einfachem_Zeitraum" 
                        type="okstra:ObjectRefType"  minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>einfacher_Zeitraum</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Startdatum</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="DauerType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften Dauer -->
                    <element name="Jahre" 
                        type="integer" minOccurs="0"/>
                    <element name="Monate" 
                        type="integer" minOccurs="0"/>
                    <element name="Wochen" 
                        type="integer" minOccurs="0"/>
                    <element name="Tage" 
                        type="integer" minOccurs="0"/>
                    <element name="Stunden" 
                        type="integer" minOccurs="0"/>
                    <element name="Minuten" 
                        type="integer" minOccurs="0"/>
                    <element name="Sekunden" 
                        type="integer" minOccurs="0"/>
                    <element name="von_einfachem_Zeitraum" 
                        type="okstra:ObjectRefType"  minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>einfacher_Zeitraum</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Dauer</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="komplexer_ZeitraumType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAHistObjektType">
                <sequence>
                    <!-- Eigenschaften Zeitraum -->
                    <element name="erster_in" 
                        type="okstra:ObjectRefType"  minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>komplexer_Zeitraum</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_ersten_Zeitraum</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="zweiter_in" 
                        type="okstra:ObjectRefType"  minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>komplexer_Zeitraum</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_zweiten_Zeitraum</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <!-- Eigenschaften komplexer_Zeitraum -->
                    <element name="hat_ersten_Zeitraum" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Zeitraum</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>erster_in</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_zweiten_Zeitraum" 
                        type="okstra:ObjectRefType">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Zeitraum</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>zweiter_in</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Operator" 
                        type="okstra:KeyValuePropertyType"/>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="OperatorType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
</schema>
