external/Oklabi/schema/1007/Historisierung.xsd

<?xml version="1.0" encoding="iso-8859-1" ?>
<!--  File: Historisierung.xsd  -->
<schema targetNamespace="http://schema.okstra.de/1007/okstra"
    xmlns="http://www.w3.org/2001/XMLSchema"
    xmlns:okstra="http://schema.okstra.de/1007/okstra"
    xmlns:xlink="http://www.w3.org/1999/xlink"
    xmlns:gml="http://www.opengis.net/gml"
    elementFormDefault="qualified"
    version="1.007">
    <annotation>
        <appinfo>1007/Historisierung.xsd</appinfo>
        <documentation xml:lang="de">
            GML-Anwendungsschema fuer OKSTRA(R) XML 1.007, Schema Historisierung
        </documentation>
    </annotation>
    <!--  Basis-Schema einbeziehen  -->
    <include schemaLocation="okstra_basis.xsd" />
    <!--  verwendete externe Schemata direkt importieren  -->
    <import namespace="http://www.opengis.net/gml" schemaLocation="./gml/gmlProfileOKSTRA.xsd"/>
    <import namespace="http://www.w3.org/1999/xlink" schemaLocation="./xlink/xlinks.xsd"/>
    <!-- -->
    <!-- ================================================================================= -->
    <!-- = globales Element fuer instanzierbare ENTITYs und Schluesseltabellen im Schema = -->
    <!-- = Historisierung                                                                = -->
    <!-- ================================================================================= -->
    <!-- -->
    <element name="Ereignis" type="okstra:EreignisType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Projekt_Strassenbau" type="okstra:Projekt_StrassenbauType" substitutionGroup="okstra:_OKSTRAObjekt" />
    <element name="Veraenderungsart" type="okstra:VeraenderungsartType" substitutionGroup="okstra:_KeyValue"/>
    <!-- -->
    <!-- ===================================================================================== -->
    <!-- = globaler complexType fuer instanzierbare ENTITYs und Schluesseltabellen im Schema = -->
    <!-- = Historisierung                                                                    = -->
    <!-- ===================================================================================== -->
    <!-- -->
    <complexType name="EreignisType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften Ereignis -->
                    <element name="laufende_Nummer" 
                        type="integer"/>
                    <element name="Wirksamkeitsdatum" 
                        type="okstra:Datum"/>
                    <element name="gehoert_zu_Projekt" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Projekt_Strassenbau</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Ereignis</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="in_Bauamt" 
                        type="okstra:ObjectRefType" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Strassenbaudienststelle</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>hat_Ereignis</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_Dokument_zur_Erlaeuterung" 
                        type="okstra:ObjectRefType" minOccurs="0">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Dokument</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>ist_Grundlage_fuer_Ereignis</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="hat_identisches_Netzteil" 
                        type="okstra:identisches_NetzteilPropertyType" minOccurs="0" maxOccurs="unbounded"/>
                    <element name="erzeugt_historisches_Objekt" 
                        type="okstra:ObjectRefType"  minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>historisches_Objekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>erzeugt_von_Ereignis</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                    <element name="loescht_historisches_Objekt" 
                        type="okstra:ObjectRefType"  minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>historisches_Objekt</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>geloescht_von_Ereignis</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="Projekt_StrassenbauType">
        <complexContent>
            <extension base="okstra:AbstractOKSTRAObjektType">
                <sequence>
                    <!-- Eigenschaften Projekt_Strassenbau -->
                    <element name="hat_Ereignis" 
                        type="okstra:ObjectRefType"  minOccurs="0" maxOccurs="unbounded">
                        <annotation>
                            <appinfo>
                                <okstra:Zielobjekttyp>Ereignis</okstra:Zielobjekttyp>
                                <okstra:inverseRelation>gehoert_zu_Projekt</okstra:inverseRelation>
                            </appinfo>
                        </annotation>
                    </element>
                </sequence>
            </extension>
        </complexContent>
    </complexType>
    <complexType name="VeraenderungsartType">
        <complexContent>
            <extension base="okstra:AbstractKeyValueType"/>
        </complexContent>
    </complexType>
</schema>
